version: '3.0'

networks:
  backend:
    driver: overlay

services:
  zookeeper:
    image: bitnami/zookeeper:${ZOOKEEPER_IMAGE_VERSION}
    volumes:
      - ${ZOOKEEPER_PERSISTENCE}:/bitnami/zookeeper:rw
    ports:
      - 2181:2181
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - backend

  kafka:
    image: bitnami/kafka:${KAFKA_IMAGE_VERSION}
    volumes:
      - ${KAFKA_PERSISTENCE}:/bitnami/kafka:rw
    ports:
      - 9092:9092
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_ADVERTISED_HOST_NAME=kafka
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_LISTENERS=OUTSIDE://:9092,INSIDE://:9192
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=OUTSIDE:PLAINTEXT,INSIDE:PLAINTEXT
      - KAFKA_ADVERTISED_LISTENERS=OUTSIDE://localhost:9092,INSIDE://kafka:9192
      - KAFKA_INTER_BROKER_LISTENER_NAME=OUTSIDE
    networks:
      - backend

  clickhouse:
    image: yandex/clickhouse-server:${CLICKHOUSE_IMAGE_VERSION}
    volumes:
      - ${CLICKHOUSE_PERSISTENCE}:/var/lib/clickhouse:rw
      - ./volumes/clickhouse/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - 8123:8123
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    networks:
      - backend
  
  entrypoint:
    image: github.com/antonyurchenko/entrypoint:${ENTRYPOINT_VERSION}
    ports:
      - 8080:8080
    networks:
      - backend
    deploy:
      replicas: 1
    command: >
      -e '0.0.0.0:8080'
      -b 'kafka:9192' 
      -t 'events_topic'
      -c 10000
